<!DOCTYPE html>
<html>
  <head>
    <title>Images sequentielles</title>
  </head>
  <body>


<script type="text/javascript">


  /* tableau de l'ordre des images tel que l'on reçoit et que l'on va réordonner */
  var tab_order = <%= array_or_string_for_javascript(@tab_correct_id)%>
  var sequence_id = <%= @sequence.id %>

  /* insérer dans le tableau à la fin */
  function insert_end(id_name){
    tab_order.push(id_name);
  }
  
  /* insérer dans tableau de l'élément id_name à la place num_place
     id_name est insérer à la place num_place et le reste du tableau est déplacé sur la droite */ 
  function insert_at(id_name,num_place){
    var temp_name = id_name;
    var temp_name2;
    if(num_place < tab_order.length){

     // on déplace le tableau sur la droie
      for(i = num_place;i < tab_order.length; i++){
        temp_name2 = tab_order[i];
        tab_order[i] = temp_name;
        temp_name = temp_name2
      }
      
      tab_order.push(temp_name);
    }
  }
   
  /* on déplace id_name à la fin du tableau */
  function move_end(id_name){
    var index = tab_order.indexOf(id_name);
    tab_order.splice(index,1);
    tab_order.push(id_name);
       
  }

  /* on déplace id_name à la place num_place */
  function move_at(id_name,num_place){
    var index = tab_order.indexOf(id_name);
    tab_order.splice(index,1);

    if(num_place >= tab_order.length){
      tab_order.push(id_name);
    }else{
      insert_at(id_name,num_place);
    }
  }

  
	function drag(target, evt) {
		evt.dataTransfer.setData("Text", target.id);
	
	}

	function drop(target, evt) {
		var id = evt.dataTransfer.getData("Text");

    /* nom/id de l'image déplacé */
		var id_name = document.getElementById(id).id;

    var parent = target.parentNode;
    var target_id = target.id;
    var element_drag = document.getElementById(id);
    var parent_image = element_drag.parentNode;

    /* place dans le tableau à laquelle on veut déplacer l'image */
    var target_place;

    /* on détermine d'abord si il y a déjà une image à cette place ci et on récupère son numéro de place dans le tableau*/
    if(target.children.length > 0){
      target_place = tab_order.indexOf(target.getElementsByClassName("image_sequence")[0].id);
    }

    /* on teste si l'image provient déjà de la liste */
    if(parent_image.className == "box2"){
      parent_image.parentNode.removeChild(parent_image);

      /* on teste si on va réellement déplacer l'image*/
      var image_place = tab_order.indexOf(element_drag.id);

      /* on vérifie que l'on ne déplace pas l'image sur elle-même .. */
      if(image_place != target_place){
        /* si c'est la case de la fin on déplace à la fin */
        if( (target_id == "box_drop") || (target_place >= tab_order.length ) ){
          move_end(id_name);
        }else{
          move_at(id_name,target_place);
        }
 
      }
    }else{  
      // on teste si l'on déplace à la fin (box_drop) ou sur une case déjà occupée
      if( target_id == "box_drop"){
        insert_end(id_name);

      }else{
        insert_at(id_name,target_place);
      }
      
    }
      var before_name;
      //on récupère la place final de l'élément dans le tableau
      if(tab_order.indexOf(id_name) >= (tab_order.length -1)){
        before_name = "box_drop";
      }else{
        //sinon on récupère l'élément qui suit dans le tableau et le nom de la box qui le contient.
        before_name = document.getElementById(tab_order[(tab_order.indexOf(id_name) + 1)]).parentNode.id;
      }
      
      var box = document.createElement("div");
      box.className = "box2";
      box.id = id_name + "_box";
      box.setAttribute("ondragover", "return false");
      box.setAttribute("ondrop","drop(this, event)");

      box.appendChild(element_drag);
      

      parent.insertBefore(box, document.getElementById(before_name));
      
		  evt.preventDefault();
      $("#etat_save").html("Ordre non enregistré !");
  }

  function enregistrer(){
    	   var c = {};
       c['authenticity_token'] = encodeURIComponent(window._token);
       $.ajax({
         type: "POST",
          url: "save",
          data: "sequence_id=" + sequence_id +"&order_sequence=" + tab_order,
          success: function(msg){
            $("#etat_save").html("Ordre enregistré !");
          }
       });
  }
	
</script>

  
	<!-- parcourt de la liste des catégories et affichage de l'image correspondant -->
	 <% for sequence in @list_sequence.collect do %> 
    <%= sequence.name %>
    <% unless sequence.sequence_liste.first.image.image_file.nil? %>
    <%= link_to(image_tag(sequence.sequence_liste.first.image.image_file.thumb.url), {:controller => "image_sequentielle", :action => 'display_sequence_edit', :sequence_name => sequence.name}, :remote => true) %>
  <% end %>
	<% end %>

  <div id="sequence_edit">
    <%= render :partial => "sequence_edit" %>
  </div>

  <div id="box_place" class="box_in">
    <%= render :partial => "box_place" %>
  </div>

  <button type="button" onclick="enregistrer()">
    Enregistrer
  </button> 

  <div id="etat_save" >
      Pas de changement encore effectué
  </div>

  </body>
</html>
