<!DOCTYPE html>
<html>
  <head>
    <title>Images sequentielles</title>
  </head>
  <body>


<script type="text/javascript">

    /*$(document).ready (
        function() {
            $( "#box_in" ).Sortable( {
            accept : 'sortable_item',
            axis : 'horizontally',
            opacity : 0.6,
            onchange : function ( sorted ) {
            serial = $.SortSerialize( 'box_in' ); 
            }

			 
        });
    });*/

  var tab_order = new Array();

  function insert_end(id_name){
    tab_order.push(id_name);
  }
  
  function insert_at(id_name,num_place){
    var temp_name = id_name;
    var temp_name2;
    if(num_place < tab_order.length){
     // on déplace le tableau sur la gauche
      for(i = num_place;i < tab_order.length; i++){
        temp_name2 = tab_order[i];
        tab_order[i] = temp_name;
        temp_name = temp_name2
      }
      
      tab_order.push(temp_name);
    }
  }

	function drag(target, evt) {
		evt.dataTransfer.setData("Text", target.id);
	
	}
	function drop(target, evt) {
		var id = evt.dataTransfer.getData("Text");
		var id_name = document.getElementById(id).getAttribute("id");
    
    //On teste si c'est le premier élément à être droper
    if( target.children.length == 0){
      insert_end(id_name);
      var box = 	'<div id="' + target.id + '" class="box" ondragover="return false" ondrop="drop(this, event)"> </div>';
      target.innerHTML = box;
      
      var id_box2 = target.id + 1;
      var box2 = 	'<div id="' + id_box2 + '" class="box2" ondragover="return false" ondrop="drop(this, event)"> </div>';
      target.innerHTML += box2;
      var width_box2 = (document.body.clientWidth - (target.id * 100));
      document.getElementById(id_box2).style.width = width_box2;
      document.getElementById(id_box2).appendChild(document.getElementById(id));
		  evt.preventDefault();
    }else{
      insert_at(id_name,target);

    }


	   /*var c = {};
       c['authenticity_token'] = encodeURIComponent(window._token);
       $.ajax({
         type: "POST",
          url: "create_phrase",
          data: "phrase=" + phrase,
          success: function(msg){
            $(this).append("<br>Dropped!");
          }
       });*/

	}
</script>

  
	<!-- parcourt de la liste des catégories et affichage de l'image correspondant -->
	 <% for sequence in @list_sequence.collect do %> 
    <%= sequence.name %>
    <% unless sequence.sequence_liste.first.image.image_file.nil? %>
    <%= link_to(image_tag(sequence.sequence_liste.first.image.image_file.thumb.url), {:controller => "image_sequentielle", :action => 'display_sequence', :sequence_name => sequence.name}, :remote => true) %>
  <% end %>
	<% end %>

  <div id="sequence">
    <%= render :partial => "sequence" %>
  </div>

  <div id="box_in">
    <%= render :partial => "box_in" %>
  </div>


	<%= link_to 'create audio', {:controller => 'image_sequentielle', :action => 'create_audio'}, :remote => true %>

	<div id="audio">
		<%= render :partial => "audio" %>
	</div>
  </body>
</html>
