<!DOCTYPE html>
<html>
  <head>
    <title>Images sequentielles</title>
  </head>
  <body>


<script type="text/javascript">

    /*$(document).ready (
        function() {
            $( "#box_in" ).Sortable( {
            accept : 'sortable_item',
            axis : 'horizontally',
            opacity : 0.6,
            onchange : function ( sorted ) {
            serial = $.SortSerialize( 'box_in' ); 
            }

			 
        });
    });*/

  var tab_order = new Array();

  function insert_end(id_name){
    tab_order.push(id_name);
  }
  
  function insert_at(id_name,num_place){
    var temp_name = id_name;
    var temp_name2;
    if(num_place < tab_order.length){
     // on déplace le tableau sur la gauche
      for(i = num_place;i < tab_order.length; i++){
        temp_name2 = tab_order[i];
        tab_order[i] = temp_name;
        temp_name = temp_name2
      }
      
      tab_order.push(temp_name);
    }
  }

	function drag(target, evt) {
		evt.dataTransfer.setData("Text", target.id);
	
	}
	function drop(target, evt) {
		var id = evt.dataTransfer.getData("Text");
		var id_name = document.getElementById(id).id;
    
    //On teste si c'est le premier élément à être droper
    if( target.id == "box_drop"){
      parent = target.parentNode;
      insert_end(id_name);

      //var children = target.childNodes;
      //for(var i = 0; i < children.length; i++)
      //target.removeChild(children[i]);
      
  
      var box = document.createElement("div");
      box.className = "box2";
      box.id = parent.children.length - 1;
      box.setAttribute("ondragover", "return false");
      box.setAttribute("ondrop","drop(this, event)");
      box.appendChild(document.getElementById(id));
      //var marginLeft_box = ((parent.children.length - 1) * 100);
      //box.style.marginLeft = marginLeft_box;
      parent.appendChild(box);
      
      var marginLeft_box_in = (parent.children.length * 100);
      target.style.marginLeft = marginLeft_box_in;

		  evt.preventDefault();
    }else{
      insert_at(id_name,target.id);
      rebuild_box();
      evt.preventDefault();
    }
  }

    function rebuild_box(){
      box_old = document.getElementById("box_in"); 
      //for(var i = 0; i < target.children.length; i++){
      //  target.removeChild(target.children[i]); 
      //} 

        var box_in = document.createElement("div");
        box_in.className = "box_in";
        box_in.id = "box_in";

      for(i = 0; i < tab_order.length; i++){
        var box = document.createElement("div");
        box.className = "box2";
        box.id = i;
        box.setAttribute("ondragover", "return false");
        box.setAttribute("ondrop","drop(this, event)");
        box.appendChild(document.getElementById(tab_order[i]));
        //var marginLeft_box = (i * 100);
        //box.style.marginLeft = marginLeft_box;
        box_in.appendChild(box);
      }

      var box = document.createElement("div");
        box.className = "box2";
        box.id = "drop_box";
        box.setAttribute("ondragover", "return false");
        box.setAttribute("ondrop","drop(this, event");
        box_in.appendChild(box);

      
      var a = box_old.parentNode.replaceChild(box_in,box_old);
    }


	   /*var c = {};
       c['authenticity_token'] = encodeURIComponent(window._token);
       $.ajax({
         type: "POST",
          url: "create_phrase",
          data: "phrase=" + phrase,
          success: function(msg){
            $(this).append("<br>Dropped!");
          }
       });*/

	
</script>

  
	<!-- parcourt de la liste des catégories et affichage de l'image correspondant -->
	 <% for sequence in @list_sequence.collect do %> 
    <%= sequence.name %>
    <% unless sequence.sequence_liste.first.image.image_file.nil? %>
    <%= link_to(image_tag(sequence.sequence_liste.first.image.image_file.thumb.url), {:controller => "image_sequentielle", :action => 'display_sequence', :sequence_name => sequence.name}, :remote => true) %>
  <% end %>
	<% end %>

  <div id="sequence">
    <%= render :partial => "sequence" %>
  </div>

  <%= link_to 'create audio', {:controller => 'image_sequentielle', :action => 'create_audio'}, :remote => true %>

	<div id="audio">
		<%= render :partial => "audio" %>
	</div>

  <div id="box_in" class="box_in">
    <%= render :partial => "box_in" %>
  </div>



  </body>
</html>
